
.page-header {
    border-bottom: 1px solid RGB(54, 181, 75) !important;
    box-shadow: 0px 3px 0px  RGB(54, 181, 75) !important;
}
/* TABLE COLUMN SIZES */
td {
    border: 0px !important; 
}    
th {
    border-right: 0px !important; 
    border-left:  0px !important;
}
.table-column-size-th {
    width: 140px !important;
}
.table-column-size-change-role {
    width: 80% !important;
    margin-left: 15% !important;
}
.table-column-size-check-all {
    width: 6.5% !important;
}
.table-column-size-id {
    width: 2% !important;
}
.table-column-size-categories {
    width: 30% !important;
}
.table-column-size-email {
    width: 20% !important;
}
.table-column-size-role {
    width: 4% !important;
}
.table-column-size-button-th {
    width: 5% !important;
}
.table-column-size-button-td {
    width: 100% !important;
}

/* IMAGE SIZE */
.img-fluid {
    width: 120px;
    height: auto
}
.img-fluid-profile {
    width: 150px;
    height: 180px;
}
/*LEAF ICON*/
.leaf-icon {
    color: var(--color) !important;
    margin-right: -20px;
    margin-left: 30px;
    line-height: 0.7 !important;
    font-size: 25px !important;
}
/*TR BACKGROUND*/
.tr-background>tbody>tr:hover {
    background-color: var(--color-background) !important; 
}

/*NAVBAR*/
.navbar-title, .navbar-subtitles:hover, .navbar-subtitles>li>a:hover, .navbar-subtitles b:hover {
    background: linear-gradient(TO RIGHT, var(--color), RGB(244, 255, 248))!important;
   -webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
    transition: 0.5s;
}

.navbar-vertical>li>a:hover, .navbar-vertical>li>i:hover{
    color: var(--color) !important;
}

/*BORDERS MODAL */
.modal-content-border {
    border: 1px solid var(--color) !important;
}
.modal-header-border {
    border-bottom: 1px solid var(--color-background) !important;
}
.modal-footer-border {
    border-top: 1px solid var(--color-background) !important;
}
/*DELETE BUTTON MODAL TODO*/
.modal_delete_link {
    transition: 0.4s !important;
}
.modal_delete_link:hover {
    transform: scale(1.06) !important;
}
/*CLOSE BUTTON TODO*/
.close-x-button {
    opacity: 1 !important;
    color: var(--color) !important;
    transition: 0.3s !important;
}
.close-x-button:hover {
    opacity: 1 !important;
    color: var(--color) !important;
    transform: scale(1.2) !important;
    text-shadow: 0 0 3px var(--color) !important;
}
/*CANCEL BUTTONS*/
.cancel-button {
    color: black !important;
    transition: 0.4s !important;
}
.cancel-button:hover {
    color: black !important;
    transform: scale(1.06) !important;
    border-color: var(--color) !important; 
    background-color: var(--color-background) !important; 
}
.cancel-button:focus {
    box-shadow: none !important;
    border-color: var(--color) !important; 
}
.cancel-button:active {
    border-color: var(--color) !important; 
}

/* USER ONLINE NAV TAG */
.usersonline {
    color: var(--color) !important;
    font-size: 15px; 
}

/* PROFILE CARD */
.profile-card {
    border: 0.5px solid var(--color) !important; 
    border-radius: 2px;
    padding: 7px !important;
    width: 165px !important;
    height: 195px !important;
}

/* MARGIN TOP FOR QUOTE */
.margin-top-quote {
    margin-top: 18% !important;
}

/* RADIUS CHECK BUTTON */
.label-checkbox {
    cursor: pointer; 
    margin: auto;
    margin-left: 25% !important;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0; 
}

.cbx {
    width: 110%;
    height: 120%;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent; 
    transition: all .15s ease;
    float: left;
    margin-left: 6px; 
}

.cbx:hover, .cbx:after {
    transform: scale(2.0);
}

.icon-checkbox {
    margin-top: 10% !important;
    margin-left: 15% !important;
    color: black;
}

.icon-checkbox:hover { 
    color: var(--color);
}

input[type="checkbox"]:checked + .cbx {
    background-image: linear-gradient(TO RIGHT, var(--color), RGB(244, 255, 248))!important;
}

/* CLOSE MODAL  */
.close {
    color: var(--color) !important;
    opacity: 0.7 !important;
}


/* -----------------MEDIA QUERIES FOR IPHONE 6S - X ----------------------- GOOGLE DEV TOOLS = 375 X 550 || X = 375 X 812 */
@media screen and (min-width: 375px) and (max-width: 378px) {
    .position-for-iphone-admin {
        position: fixed;
        left: 24rem;
        top: 11rem;
    }
}

/* -----------------MEDIA QUERIES FOR IPHONE 6 plus----------------------- GOOGLE DEV TOOLS = 414 X 736*/
@media  screen and (min-width: 414px) and (max-width: 417px)  {
    .position-for-iphone-admin {
        position: fixed;
        left: 28rem;
        top: 11rem;
    }
}




