:root {
    --color: RGB(54, 181, 75);
    --color-background: RGB(216, 253, 216);
}

/*INPUTS BACKGROUND*/
.input-background:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: var(--color) !important; 
}
.input-background:active {
    border-color: var(--color) !important; 
}
.input-background:hover {
    box-shadow: none;
    background-color: var(--color-background) !important; 
    border-color: var(--color) !important; 
     outline: none !important;
}

/*LOGIN BUTTON*/
.login-button {
    background-color: var(--color) !important;
    color: white !important;
    border-color: var(--color) !important; 
    transition: 0.4s;
    opacity: 0.6 !important;
}

.login-button:hover {
    background-color: var(--color) !important;
    border-color: var(--color) !important; 
    opacity: 1 !important;
}

/* FORGOT LINK */
.forgot-link{
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

.forgot-link a{
    text-decoration: none !important;
    color: RGB(158, 225, 161) !important;
}

.forgot-link a:hover{
    text-decoration: none !important;
    color: var(--color) !important;
}

/* CENTER DIV'S */
.col-centered {
    float: none !important;
    margin: 0 auto !important;
}

/* RIGHT DIV'S */
.col-right {
    float: right;
    margin: 0 auto;
}

/* DIV WITHOUT PADDING */
.col-without-padding {
    padding: 0 !important;
}
/* ICON'S */
.fa-server, .fa-commenting-o, .fa-gears, .fa-unlock,  .fa-check-circle, .fa-lock, .fa-camera {
    color: var(--color) !important;
}
.fa-times-circle {
    color: #d9534f;
}
.justify-i {
    margin: auto;
}

/* MARGIN FOR I */
.margin-out {
    margin: 0 !important;
}

/*LINKS COLOR*/
.links-color a{
    text-decoration: none !important;
    color: RGB(158, 225, 161) !important;
}
.links-color a:hover{
    text-decoration: none !important;
    color: var(--color) !important;
}

/*SUBMIT BUTTONS*/
.submit-buttons {
    background-color: var(--color) !important;
    opacity: 0.6 !important;
    transition: 0.5s;
    border-color: none !important;
    
}

.submit-buttons:hover {
    opacity: 1 !important;
    text-decoration: none !important;
}

.submit-buttons:focus {
    box-shadow: none !important;
    border-color: var(--color) !important; 
}
.submit-buttons:active {
    border-color: var(--color) !important; 
}
/* FOR INPUTS ERRORS */
.red-error {
    background-color: RGB(255, 159, 155);
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* MARGINS */
.margin-left-more {
    margin-left: 1% !important;
}

.margin-left-more-lang-buttom {
    margin-left: 14% !important;
}

.margin-right-more {
    margin-right: 15px !important;
}

.margin-right-more-facebook-icon {
    margin-right: 4% !important;
}

.margin-bottom-more {
    margin-bottom: 1.5% !important;
}

.margin-bottom-more-complete-register {
    margin-bottom: 3% !important;
}

.margin-bottom-zero {
    margin-bottom: 0 !important;
}

.form-group-less-margin {
    margin-bottom: 5px !important;
}

/* PADDING'S */
.panel-body-less-padding-bottom {
    padding-bottom: 5px !important;
}

.padding-zero {
    padding: 0 !important;
}
/* DISPLAY FLEX */
.flex-wrap {
    display: flex !important;
    flex-flow: column !important;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

/* TOGGLE BUTTON ENGLISH/ESPAÑOL */
.toggle {
    margin-top: 10% !important;
    color: #9d9d9d !important;
    background-color: transparent !important;
}

.toggle.btn.btn-light, .toggle.btn.btn-outline-light {
    border-color: var(--color) !important;
}

.toggle-handle {
    background-color: var(--color) !important;
}

.toggle:hover {
    color: var(--color) !important;
    text-decoration: none;
}


.btn-dark {
    color: #9d9d9d !important;
    border-color: var(--color)  !important;
}


.btn-dark:hover {
    color: var(--color) !important;
}

/* -----------------MEDIA QUERIES----------------------- */
@media screen and (max-width: 450px) {
    .hide-on-mobile {
        display: none; 
     }
}
/* -----------------MEDIA QUERIES FOR IPHONE 6S----------------------- */
@media screen and (max-width: 450px) {
    .toggle {
        margin-top: 0 !important;
        padding: 5px;
    }
    .btn-dark, .btn-light {
        padding-bottom: 28px !important;
    }
}
