
/*NAVBAR*/
.navbar-title, .navbar-subtitles:hover {
    background: linear-gradient(TO RIGHT, var(--color), RGB(244, 255, 248))!important;
   -webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
    transition: 0.5s;
}

.navbar-subtitles:hover {
    transform: scale(1.2);
}

.hr-post {
    border-bottom: 1px solid RGB(54, 181, 75) !important;
}


/*TITLE*/
.post-title {
    color: black !important;
    text-decoration: none !important;
}
.post-title:hover {
    color: var(--color) !important;
    text-decoration: none !important;
}

.post-title-selected {
    color: var(--color) !important;
}

/*ICONS*/
.leaf-icon {
    color: var(--color) !important;
    font-size: 30px !important;
    line-height: 0.7 !important;
}
.time-icon, .email-icon, .user-icon, .wallet-icon, .check-icon, .like-icon {
    color: var(--color) !important;
}
.like-icon {
    font-size: 20px !important;
    text-decoration: none !important;
}

/*PAGINATION*/
.pager li .inactive_link {
    color: black !important;
    transition: 0.4s;
}

.pager li .inactive_link:hover {
    color: black !important;
    transform: scale(1.06);
    border-color: var(--color) !important; 
    background-color: var(--color-background)  !important; 
}

.pager li .active_link {
    background-color: var(--color) !important;
    color: black !important;
    transition: 0.4s;
    opacity: 0.6 !important;
}

.pager li .active_link:hover {
    transform: scale(1.06);
    background-color: var(--color) !important;
    border-color: var(--color) !important; 
    opacity: 1 !important;
}

/*SEARCH BUTTON*/
.search-button {
    background-color: var(--color) !important;
    color: black !important;
    border-color: var(--color) !important; 
    transition: 0.4s;
    opacity: 0.6 !important;
}

.search-button:hover {
    background-color: var(--color) !important;
    border-color: var(--color) !important; 
    opacity: 1 !important;
}

/*BLOG CATEGORIES*/
.categories-list {
    text-decoration: none !important;
    color: black !important;
}

.categories-list:hover {
    text-decoration: none !important;
    color: var(--color) !important;
}

/*REGISTER BUTTOM*/
.register-button {
    color: white;
    background-color: var(--color) !important;
    margin: 10px 20px 0 20px !important;
    width: 100px !important;
    margin-left: 85% !important;
    opacity: 0.6 !important;
    transition: 0.5s;
}
.register-button:hover {
    color: white;
    opacity: 1 !important;
    transform: scale(1.2);
}
/*COMMENT BUTTON*/ 
.comment-button {
    color: white;
    background-color: var(--color) !important;
    opacity: 0.6 !important;
    transition: 0.5s;    
    border-color: var(--color) !important; 
}

.comment-button:hover {
    opacity: 1 !important;
    transform: scale(1.2);
    border-color: var(--color) !important; 
}
    
/*SIDEBAR - WIDGET - SEARCH ENGINE*/
.well {
    transition: 0.5s;
    border: 0.5px solid var(--color) !important; 
}

.well p {
    text-align: justify;
    text-justify: inter-word;
}

.well:hover {
    transform: scale(1.04);
    box-shadow: 3px 3px 3px 3px var(--color);
}

/* SIDEBAR */
.sidebar-margin-left {
    margin-left: 8.3%;
}

/*READ BUTTOM*/
.read-more {
    transition: 0.5s;
    background-color: var(--color) !important;
    border-color: var(--color) !important; 
}

.read-more:hover {
    transform: scale(1.06);
    background-color: var(--color) !important;
    border-color: var(--color) !important; 
}

/*LINKEDIN*/
.linkedin-link {
    text-decoration: none !important;
    color: var(--color) !important;
    transition: 0.5s !important; /*NOT WORKING*/
}

.linkedin-link:hover {
    transform: scale(1.2) !important;
}

.linkedin-text {
    text-shadow: 0 0 3px var(--color) ;
}

/* FORGOT | RESET | LOGIN */

.forgot-card, .reset-card, .login-card {
    border: 0.5px solid var(--color) !important; 
    border-radius: 4px;
}

.forgot-button, .reset-button, .login-button:hover {
    background-color: var(--color) !important;
    opacity: 0.6 !important;
    transition: 0.5s;
    border-color: none !important;
}

.forgot-button:hover, .reset-button:hover, .login-button:hover  {
    opacity: 1 !important;
    transform: scale(1.1);
}   

/* LOGOUT BUTTON */
.logout-button-index {
    margin-top: 2% !important;
    margin-left: 30% !important;
    padding-bottom: -50px !important;
}

/* ICON'S */
.fa-user {
    color: var(--color) !important;
}
/* PROFILE IMAGE FOR COMMENTS */
.img-profile-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* PROFILE IMAGE FOR FACEBOOK REGISTER */
.img-profile-facebook-register {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* -----------------MEDIA QUERIES----------------------- */
@media screen and (max-width: 450px) {
    .navbar-subtitles:hover {
        transform: none !important;
    }
    .sidebar-margin-left {
        margin-left: 0 !important;
    }
    .sidebar-margin-top {
        margin-top: 5rem !important;
    }
    .logout-button-index {
        margin-left: 5%;
        margin-right: 30%;
    }
    .text-size {
        font-size: 2rem !important;
    }
}
/* -----------------MEDIA QUERIES FOR IPHONE 6S----------------------- */
@media screen and (max-width: 450px) {
    .position-for-iphone-6s {
        position: fixed;
        left: 70%;
        bottom: 82%;
    }
    .margin-left-for-facebook-login-iphone-6s {
        margin-left: 13.3rem;
    }
}









